a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_491727e3 a { text-decoration: none; }
#menu_491727e3_pane { background-color: #9677AF; border: 1px solid #9677AF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_491727e3_hr { background-color: #9677AF; height: 1px; border: none; }
#menu_491727e3_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_491727e3_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_491727e3_entry:hover span { color:#FFFFFF !important; }
		.menu_491727e3_mainMenuEntry { text-align: center; }
		.menu_491727e3_mainMenuEntry:hover {	background-color:#282828; }
		.menu_491727e3_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_491727e3 .mobileEntry { display: none; } 
		#menu_491727e3 .normalEntry { display: block; } 
		@media only screen and (max-width:800px) { 
			#menu_491727e3 .mobileEntry { display: block; } 
			#menu_491727e3 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_cde0047 { vertical-align: top; position:relative; display: inline-block; width:88%; min-height:60px; max-width:1024px; background:none;  }
#container_cde0047_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_12077a6 { vertical-align: bottom; position:relative; display: inline-block; width:29%; min-height:44px; min-width:250px; background:none;  }
#container_12077a6_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:16pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#572A74; font-weight:bold;  }
#menu_491727e3 { vertical-align: bottom; position:relative; display: inline-block; width:41%; height:38px; min-width:200px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:65px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#572A74; font-weight:bold;  white-space: nowrap; }
.style5 { position:absolute; width:109px; height:38px; left:75px;  }
.textstyle6 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#572A74; font-weight:bold;  white-space: nowrap; }
.style6 { position:absolute; width:81px; height:38px; left:184px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#2C2C2C;  white-space: nowrap; }
#container_ea6bc91 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#572A74;  }
#container_ea6bc91_padding { margin: 10px 10px 0px 10px;display: block;  }
#container_5f5ee9dd { vertical-align: top; position:relative; display: inline-block; width:88%; min-height:60px; max-width:1024px; background-color:#572A74; background-image: url(rc_images/pexels_colored_pencils_small.jpg); background-position:top left; background-size:cover;  }
#container_5f5ee9dd_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#252525; line-height: 1.5;  }
.textstyle9 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5e5e0240 { vertical-align: top; position:relative; display: inline-block; width:88%; min-height:60px; max-width:1024px; background:none;  }
#container_5e5e0240_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6ea2fd9d { vertical-align: top; position:relative; display: inline-block; width:88%; min-height:60px; max-width:1024px; background-color:#00112C;  }
#container_6ea2fd9d_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle13 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.5;  }
#container_19c09732 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_19c09732_padding { margin: 10px; display: block;  }
#container_690011d2 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_690011d2_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#FFFFFF;  }
#container_430e4792 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_430e4792_padding { margin: 10px; display: block;  }
#container_5b26006a { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_5b26006a_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 450px)
{
		#container_690011d2 { width:100%;  }
		#container_430e4792 { width:100%;  }
		#container_5b26006a { width:100%;  }
}
